* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Header Section */

.header-section {
    background-color: #1F2937;
    padding: 30px 250px;
}

.nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style-type: none;
}

.nav-links a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: lighter;
    margin-left: 20px;
}


/* Hero Section */

.hero-section {
    display: flex;
    justify-content: space-between;
}

.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    max-width: 450px;
}

.hero-subtext {
    font-size: 18px;
    font-weight: lighter;
    color: #E5E7EB;
    max-width: 450px;
}

img {
    max-width: 400px;
    height: auto;
}

.signup-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 20px;
    font-weight: 700;
    padding: 4px 25px;
    border-radius: 5px;
    border: none;
    align-self: flex-start;
}

/* Information Section */

.information-section {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.information-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 50px;
}

.cards-section {
    display: flex;
    gap: 60px;
}

.card {
    max-width: 200px;
    text-align: center;
    font-size: 18px;
    color: #1F2937;
    font-weight: lighter;
}


.blue-cards {
    border: 3px solid #3882F6;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

/* Quote Section */

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    max-width: 50%;
}

.quote-author {
    align-self: flex-end;
    margin-right: 350px;
}

/* Modal Section */

.modal-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px 100px;
}

.modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    flex-shrink: 1;
    padding: 50px 250px;
    background-color: #3882F6;
    border-radius: 15px;
}

.modal-text h3 {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.modal-text p {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: lighter;
}

.modal-button {
    padding: 8px 45px;
    font-family: 'Roboto', sans-serif;
    background-color: #3882F6;
    border: #F9FAF8 2px solid;
    color: #F9FAF8;
    font-weight: 600;
    border-radius: 8px;
}